In [3]:
#conventional if else
num = 6
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

In [6]:
num = 7
print("even") if num % 2 == 0 else print("odd")

odd

In [9]:
#nested if else
num = 7
result = " Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

 Positive

In [14]:
#list comprehension
L = [1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [15]:
# list comprehension with a conditional print even numbers
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [17]:
# list comprehension with a conditional print odd numbers
L = [1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [21]:
#print the average value of list of numbers using list comprehension
L = [1,9,2,10,56,89]
avg = sum(L)/len(L)
avg

27.833333333333332

In [25]:
#print the average value of list of numbers using list comprehension
L = [1,9,2,10,56,89]
sum([x for x in L])/len(L)

27.833333333333332

In [26]:
#Dictionary comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [28]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}